<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">  <!-- 以上代码告诉IE浏览器，IE8/9及以后的版本都会以最高版本IE来渲染页面。 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>哈工大资源预约系统——借教室查询</title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/room_operate.css">

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<header>
	<div class="logo">
		<img src="../static/images/logo1.jpg" alt="哈工大logo" class="logo-img vertical-center">
		<h1 class="vertical-center">哈工大资源预约管理系统</h1>
	</div>
	<div class="logoff">
		<a href="/manage"><span><em class="username">{{username}}</em></span></a>
		<a href="login.html" id="logout"><img src="../static/images/out.png" alt="注销登录"></a>
	</div>
</header><!-- header结束 -->

	<div class="container" style="margin:20px auto">
		<nav class="nav-list">
			<a href="/index" class="nav-item" id="nav-item1">
				<span class="iconfont">&#xe63e;</span>
				<span class="item-info">主页</span>
			</a>
			<a href="/adddel" class="nav-item" id="nav-item2">
				<span class="iconfont">&#xe604;</span>
				<span class="item-info">人事管理</span>
			</a>
						<a href="/manage" class="nav-item" id="nav-item3">
							<span class="iconfont">&#xe601;</span>
							<span class="item-info">个人中心</span>
						</a>
			<a href="/cancel" class="nav-item" id="nav-item4">
				<span class="iconfont">&#xe64a;</span>
				<span class="item-info">取消预约</span>
			</a>
			<a href="/roomclass" class="nav-item" id="nav-item5">
				<span class="iconfont">&#xe751;</span>
				<span class="item-info">可借教室</span>
			</a>
			<a href="/myresource/?page=1" class="nav-item" id="nav-item6">
				<span class="iconfont">&#xe610;</span>
				<span class="item-info" style="display: none;">我的资源</span>
			</a>

			<a href="/notice" class="nav-item" id="nav-item8">
				<span class="iconfont">&#xe600;</span>
				<span class="item-info">通知栏</span>
			</a>

			<a href="/login" class="nav-item" id="nav-item7">
				<span class="iconfont">&#xe65f;</span>
				<span class="item-info">退出</span>
			</a>
		</nav>
		<div>

		<div class="wrapper">
		<div class="w3ls-form">
				<form action="/resadd/" method="post" >
					{%csrf_token%}
					<label>资源名</label>
					<input type="text" name="name" placeholder="{{resourcenamealarm}}" value="" required/>
					<label>资源归属者账户</label>
                    <input type="text" name="account" placeholder="{{usernamealarm}}" value="" required/>
					<label>地址</label>
					<input type="text" name="address" placeholder="" required/>
                    <label>资源类型</label>
                    <select name="type">
                      <option value ="classroom">教室</option>
                      <option value ="gym">体育场</option>
                      <option value="hall">礼堂</option>
                      <option value="store">商铺</option>
                    </select>
					<input type="submit" value="添加"/>
				</form>
		</div>
		</div>
    </div>

	</div>
	<script type="text/javascript" src="../static/script/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../static/script/common.js"></script>
	<script src="../static/script/searching.js"></script>
<script>
	function getmin(){
		var begindate=$("#beginDate").val();
		var begintime=$("#beginTime").val();
		$("#endDate").attr({
			"min": begindate,
		})
		$("#endDate").val(begindate);
		$("#endTime").attr({
			"min": begintime,
		})
		$("#endTime").val(begintime);

	};

	function notOnSameDay(){
		var begindate=$("#beginDate").val();
		var enddate=$("#endDate").val();
		if(begindate!=enddate){
			$("#endTime").attr({
				"min": null,
			})
		}
	};

	   $(function () {
       //创建一个当前日期对象
       var now = new Date();
       var hour = now.getHours()+1;
       var minute="00";
       //格式化日，如果小于9，前面补0
       var day = ("0" + now.getDate()).slice(-2);
       //格式化月，如果小于9，前面补0
       var month = ("0" + (now.getMonth() + 1)).slice(-2);
       //拼装完整日期格式
       var today = now.getFullYear() + "-" + (month) + "-" + (day);
       var nowtime = hour+":"+ minute;
       //完成赋值


       $("#beginDate").attr({"min":today});
       $("#endDate").attr({"min":today});
       $("#beginTime").attr({"min":nowtime});
       $("#endTime").attr({"min":nowtime});


       $("#beginDate").val(today);
       $("#endDate").val(today);
       $("#beginTime").val(nowtime);
       $("#endTime").val(nowtime);
   })


</script>
</body>
</html>