<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  <!-- 以上代码告诉IE浏览器，IE8/9及以后的版本都会以最高版本IE来渲染页面。 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>哈工大资源预约系统</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<!--[if lte IE8]>
<p class="browserupdate">您的浏览器版本太老，请到<a href="http://browsehappy.com">这里</a>更新，以获取最佳的浏览体验。</p>
<![endif]-->
	<header>
	<div class="logo">
		<img src="../static/images/logo1.jpg" alt="哈工大logo" class="logo-img vertical-center">
		<h1 class="vertical-center">哈工大资源预约管理系统</h1>
	</div>
	<div class="logoff">
		<a href="/manage"><span><em class="username">{{username}}</em></span></a>
		<a href="login.html" id="logout"><img src="../static/images/out.png" alt="注销登录"></a>
	</div>
</header><!-- header结束 -->
<div class="container">
    <nav class="nav-list">
			<a href="/index" class="nav-item" id="nav-item1">
				<span class="iconfont">&#xe63e;</span>
				<span class="item-info">主页</span>
			</a>
			<a href="/adddel" class="nav-item" id="nav-item2">
				<span class="iconfont">&#xe604;</span>
				<span class="item-info">人事管理</span>
			</a>
						<a href="/manage" class="nav-item" id="nav-item3">
							<span class="iconfont">&#xe601;</span>
							<span class="item-info">个人中心</span>
						</a>
			<a href="/cancel" class="nav-item" id="nav-item4">
				<span class="iconfont">&#xe64a;</span>
				<span class="item-info">取消预约</span>
			</a>
			<a href="/roomclass" class="nav-item" id="nav-item5">
				<span class="iconfont">&#xe751;</span>
				<span class="item-info">可借资源</span>
			</a>
			<a href="/myresource/?page=1" class="nav-item" id="nav-item6">
				<span class="iconfont">&#xe610;</span>
				<span class="item-info" style="display: none;">我的资源</span>
			</a>

			<a href="/notice" class="nav-item" id="nav-item8">
				<span class="iconfont">&#xe600;</span>
				<span class="item-info">通知栏</span>
			</a>

			<a href="/login" class="nav-item" id="nav-item7">
				<span class="iconfont">&#xe65f;</span>
				<span class="item-info">退出</span>
			</a>
		</nav>
    <div class="detail">
    <div class="package-status">
			<div class="status-box" >
				<ul  class="status-list">
					<li class="latest">
						<div class="status-content-latest">您的请求开始处理</div>
						<div class="status-line"></div>
					</li>
					{% if state == "处理中"%}
					<li class="latest">
						<div class="status-content-latest">处理中</div>
						<div class="status-line"></div>
					</li>

					{% elif state == "预约成功"%}
					<li class="latest">
						<div class="status-content-latest">处理中</div>
						<div class="status-line"></div>
					</li>
                    <li class="latest">
						<div class="status-content-latest">预约成功</div>
						<div class="status-line"></div>
					</li>

					{% elif state == "预约失败"%}
					<li class="latest">
						<div class="status-content-latest">处理中</div>
						<div class="status-line"></div>
					</li>
                    <li class="latest">
						<div class="status-content-latest">预约失败</div>
						<div class="status-line"></div>
					</li>

					{% elif state == "已结束"%}
					<li class="latest">
						<div class="status-content-latest">处理中</div>
						<div class="status-line"></div>
					</li>
					<li class="latest">
						<div class="status-content-latest">预约成功</div>
						<div class="status-line"></div>
					</li>
					<li class="latest">
						<div class="status-content-latest">已结束</div>
						<div class="status-line"></div>
					</li>
					{% endif %}
				</ul>
			</div>
	</div>
        <button onclick="location.href='/my_application'">查看其他预约</button>
    </div>
</div>
<script type="text/javascript" src="../static/script/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../static/script/main.js"></script>
</body>
</html>