
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  <!-- 以上代码告诉IE浏览器，IE8/9及以后的版本都会以最高版本IE来渲染页面。 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加账户</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<header>
	<div class="logo">
		<img src="../static/images/logo1.jpg" alt="哈工大logo" class="logo-img vertical-center">
		<h1 class="vertical-center">哈工大资源预约管理系统</h1>
	</div>
	<div class="logoff">
		<a href="/personal_center"><span><em class="username">{{username}}</em></span></a>
		<a href="login.html" id="logout"><img src="../static/images/out.png" alt="注销登录"></a>
	</div>
</header><!-- header结束 -->

		<div class="agile-login">
		<h1>添加账户</h1>
		<div class="wrapper">
			<div class="w3ls-form">
				<form action="/add_user" method="post">
					{%csrf_token%}
					<label>账户</label>
					<input type="text" name="usercode" placeholder="UserCode" required/>
					<label>昵称</label>
					<input type="text" name="name" placeholder="Username" required/>
					<label>密码</label>
					<input type="text" name="password" placeholder="Password" required />
					<label>申请开始时间</label>
					<input type="date" id="startDate" name="startDate" placeholder="stratDate" onblur="getDate()" required/>
					<label>申请结束时间</label>
					<input type="date" id="endDate" name="endDate" placeholder="endDate" onfocus="getDate()" required/>
					<input type="submit" value="添加" />
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../static/script/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../../static/script/main.js"></script>
<script>
	function getDate(){
		var startdate=$("#startDate").val();
		$("#endDate").attr({
			"min": startdate,
		})
		$("#endDate").val(startdate);
	};


	   $(function () {//main,z
       //创建一个当前日期对象
       var now = new Date();
       //格式化日，如果小于9，前面补0
       var day = ("0" + now.getDate()).slice(-2);
       //格式化月，如果小于9，前面补0
       var month = ("0" + (now.getMonth() + 1)).slice(-2);
       //拼装完整日期格式
       var today = now.getFullYear() + "-" + (month) + "-" + (day);
       //完成赋值
       $("#startDate").attr({"min":today});
       $("#endDate").attr({"min":today});

       $("#startDate").val(today);
       $("#endDate").val(today);
   })


</script>
</body>
</html>