
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta tags -->
	<title>添加账户</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- stylesheets -->
	<link rel="stylesheet" href="css/style.css">
	<!-- google fonts  -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
</head>
<body>
	<div class="agile-login">

		<div class="wrapper">
			<h2>添加账户</h2>
			<div class="w3ls-form">
				<form action="/" method="post">
					<label>账户</label>
					<input type="text" name="name" placeholder="Username" required/>
					<label>密码</label>
					<input type="text" name="password" placeholder="Password" required />

					<input type="date" value="2020-01-01"/>
					<input type="date" value="2020-01-01"/>
					<input type="submit" value="添加" />
				</form>
			</div>

		</div>
		<br>
	</div>
</body>
</html>